# Datos númericos

## Librerías

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

## Datos

In [3]:
datos = {
    'Edad': [18, 22, 30, 45, 60],
    'Ingreso': [1500, 2500, 4000, 5500, 7000]
}

df = pd.DataFrame(datos)
print("Datos originales:")
print(df)

Datos originales:
   Edad  Ingreso
0    18     1500
1    22     2500
2    30     4000
3    45     5500
4    60     7000

In [4]:
# Inicializar el escalador
minmax_scaler = MinMaxScaler()

# Ajustar y transformar los datos
df_minmax = minmax_scaler.fit_transform(df)

# Convertir a DataFrame para visualizar
df_minmax = pd.DataFrame(df_minmax, columns=['Edad', 'Ingreso'])
print("\nDatos normalizados con MinMaxScaler:")
print(df_minmax)

Datos normalizados con MinMaxScaler:
       Edad   Ingreso
0  0.000000  0.000000
1  0.095238  0.181818
2  0.285714  0.454545
3  0.642857  0.727273
4  1.000000  1.000000

In [5]:
# Inicializar el escalador
standard_scaler = StandardScaler()

# Ajustar y transformar los datos
df_standard = standard_scaler.fit_transform(df)

# Convertir a DataFrame para visualizar
df_standard = pd.DataFrame(df_standard, columns=['Edad', 'Ingreso'])
print("\nDatos escalados con StandardScaler:")
print(df_standard)

Datos escalados con StandardScaler:
       Edad   Ingreso
0 -1.093706 -1.309861
1 -0.836363 -0.806068
2 -0.321678 -0.050379
3  0.643356  0.705310
4  1.608391  1.460999

# Datos categóricos

In [6]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [7]:
# Datos de ejemplo
data = {
    'Nombre': ['Ana', 'Luis', 'Pedro', 'Ana', 'Luis'],
    'Ciudad': ['CDMX', 'Guadalajara', 'Monterrey', 'Monterrey', 'CDMX']
}

df = pd.DataFrame(data)
print("Datos originales:")
print(df)

Datos originales:
  Nombre       Ciudad
0    Ana         CDMX
1   Luis  Guadalajara
2  Pedro    Monterrey
3    Ana    Monterrey
4   Luis         CDMX

In [8]:
# Codificar con LabelEncoder
label_encoder = LabelEncoder()

df['Nombre_Label'] = label_encoder.fit_transform(df['Nombre'])
df['Ciudad_Label'] = label_encoder.fit_transform(df['Ciudad'])

print("\nDatos con LabelEncoder:")
print(df)

Datos con LabelEncoder:
  Nombre       Ciudad  Nombre_Label  Ciudad_Label
0    Ana         CDMX             0             0
1   Luis  Guadalajara             1             1
2  Pedro    Monterrey             2             2
3    Ana    Monterrey             0             2
4   Luis         CDMX             1             0